* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0%;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/*estilizando parágrafo*/
p {
    font-style: italic;
    margin-top: 10px;
}

.formulario {
    padding: 30px;
    border: 1px solid #e00c0c3b;
    background-color: #ecb2cf63;
    border-radius: 15px;
}
/*estilizando campos Peso e altura*/
.campoPeso {
    align-items: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 20px;
    display: flex;
}

.campoAltura {
    align-items: center;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 20px;
    display: flex;
}

.campoPeso label,
.campoAltura label {
    /* Garante que o texto ocupe um espaço fixo para alinhar os inputs */
    width: 100px;
    margin-right: 15px;
    /* Espaço entre o label e o input */
    text-align: right;
}
/*estilizando botão*/
button {
    background-color: #b314373b;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e00c0c3b;
}
/*estilizando campos input*/
input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding: 8px;
}